In [15]:
import pandas
import pandas
df1=pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
df1.set_index("Address", inplace=True)
df1

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [16]:
df1.loc["735 Dolores St":"1056 Sanchez St", "State":"Employees"] # shows only specific range of data

                            State Country          Name  Employees
Address
735 Dolores St           CA 94119     USA   Bready Shop         15
332 Hill St      California 94114     USA   Super River         25
3995 23rd St             CA 94114     USA    Ben's Shop         10
1056 Sanchez St        California     USA       Sanchez         12

In [17]:
df1.loc["735 Dolores St", "State"] # shows just one value

'CA 94119'

In [18]:
df1.loc[:, "Country"] # returns only index and one column

Address
3666 21st St       USA
735 Dolores St     USA
332 Hill St        USA
3995 23rd St       USA
1056 Sanchez St    USA
551 Alvarado St    USA
Name: Country, dtype: object

In [19]:
list(df1.loc[:, "Country"]) # returns results as a list

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [20]:
df1.iloc[1:3,1:3] # here we can use slices with index numbers

                         City             State
Address
735 Dolores St  San Francisco          CA 94119
332 Hill St     San Francisco  California 94114

In [21]:
df1.iloc[:,1:3]

                          City             State
Address
3666 21st St     San Francisco          CA 94114
735 Dolores St   San Francisco          CA 94119
332 Hill St      San Francisco  California 94114
3995 23rd St     San Francisco          CA 94114
1056 Sanchez St  San Francisco        California
551 Alvarado St  San Francisco          CA 94114

In [22]:
df1.iloc[3,1:3]

City     San Francisco
State         CA 94114
Name: 3995 23rd St, dtype: object